# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions

export EDITOR="nvim"
export VISUAL=$EDITOR
export {{ template "env_restic_password_command" . }}
export {{ template "env_restic_repository" . }}

if [ -z "${TMUX}" ]; then
  tmux -2
fi

export PATH="$HOME/bin:$HOME/.local/bin:/usr/local/sbin:$PATH"

eval "$(starship init bash)"

eval "$(direnv hook bash)"

[ -f ~/.fzf.bash ] && source ~/.fzf.bash

function brew {
  rm -f /tmp/brew_outdated_count; command brew "$@"
}

{{ if eq .chezmoi.os "darwin" }}
# Fix Ansible crash on macOS
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
{{ end }}

source ~/.bash_aliases

{{ if eq .chezmoi.os "darwin" }}
# Ensure we have all tab completion configured on macOS
[ -f /usr/local/etc/bash_completion ] && . /usr/local/etc/bash_completion
{{ end }}
