#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
sudo dnf install -y direnv flock fzf progress restic snapd starship tmux
sudo ln -s /var/lib/snapd/snap /snap
sudo snap install espanso --classic
sudo snap install codium --classic
{{ else if eq .chezmoi.os "darwin" -}}
if [ ! -f "/usr/local/bin/brew" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi
brew tap federico-terzi/espanso || true
brew tap discoteq/discoteq || true
brew install bash direnv espanso flock fzf progress restic starship tmux xbar || true
yes | $(brew --prefix)/opt/fzf/install || true
brew install --cask vscodium
{{ end -}}

if [ "$SHELL" != "$(which bash)" ]; then
  chsh -s $(which bash)
fi

git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm || true
tmux source ~/.tmux.conf
~/.tmux/plugins/tpm/bin/install_plugins all || true
